.RegForm{
    background-color: rgba(255, 255, 255, 0.8); /* Light semi-transparent color */
    height: 100vh;
    width: 100wh;
    margin: 1.5vh;
    margin-top: 0vh;
    font-size: 2em;
    font-weight: bold;
    border-radius: 2vh;
    color: #333; /* Dark text color for contrast */
}
.contactInfo{
    flex-direction: column;
    display: flex;
        justify-content: center;
    width: 100%;
    /* padding: 5px; */
    /* justify-content: center; */
    input{
        
        text-align:center;
        width: 80%;
    }
}
.error
{
    color: rgb(209, 181, 181);
    background-color: #ff0000;
}
.teamName
{
    label{
        padding: 1%;
    }
    input{
        padding-left: 1%;
    }
}
.RegForm
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
  background-image: transparent;
    /* justify-content:baseline; */
    gap: 5px;
    /* padding: 50px; */
    font-family:'montserrat','Times New Roman', Times, serif;
}
span{
    display: flex;
    font-family:'montserrat','Times New Roman', Times, serif;
}

.submit
{
    background-color: #920d0d;
    border: 1px solid #f0c6c6;
    border-radius: 20px;
    padding: 10px;
    font-family:'montserrat','Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover
{
    background-color: #f0c6c6;
    color: #920d0d;
    transition: 0.3s;
}
.submit:active
{
    transform: scale(0.9);
    background-color: #920d0da3;
}